<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Оценка эффективности использования МТО в аудитории номер...</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">Оценка эффективности использования МТО</h3>
            <img src="{{ url_for('video_feed') }}" width="100%">
            <ul>
                <li id="person_count">Людей в помещении:</li>
                <li id="laptop_count">Компьютеров используется:</li>
            </ul>
        </div>

    </div>
</div>
<script>
    setInterval(function () {
        // Создаем объект XMLHttpRequest
        var xhr = new XMLHttpRequest();

        // Указываем URL API, откуда будем получать данные
        var url = '/objects-count';

        // Отправляем GET-запрос на получение данных
        xhr.open('GET', url, true);

        // Обрабатываем ответ от сервера
        xhr.onload = function () {
            if (xhr.status === 200) {
                // Парсим полученные данные в формате JSON
                var data = JSON.parse(xhr.responseText);

                // Обновляем значения person_count и laptop_count
                document.getElementById('person_count').textContent = 'Людей в помещении: ' + data.person_count;
                document.getElementById('laptop_count').textContent = 'Компьютеров используется: ' + data.laptop_count;
            }
        };

        // Отправляем запрос
        xhr.send();
    }, 200);
</script>
</body>
</html>